:root {
  /* colors goes here... */
}
/* Header CSS Styling */

* {
  font-family: "IBM Plex Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

:root {
  --bar-width: 32px;
  --bar-height: 5px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.2);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.logo {
  flex: 1;
}

.cart-symbol,
.hamburger-menu {
  margin-left: 12px;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rot ate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 2 calc(var(--bar-height) / 3);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 2 calc(var(--bar-height) / -3);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: transform var(--animation-timing);
  transform: translateX(100%);
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.hamburger-menu:has(input:checked) + .sidebar {
  transform: translateX(0);
}
/* Hero */

.hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  height: 100vh;
  height: calc(100vh - 70px);
}

.hero img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.hero section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

.slogan {
  line-height: 10px;
  font-size: 48px;
  color: #fff;
  font-style: normal;
}

.productInfo {
  top: 20px;
  line-height: 10px;
}

.btn-buyNow {
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: 343px;
  height: 52px;
  padding: 4px 24px;
  border-radius: 100px;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: 1px solid #2a2a2b;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.arrowRight {
  position: absolute;
  color: #333;
  right: 16px;
  bottom: 57px;
}

/* Kategorier */

.categoryHeader {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
}

.glide {
  position: relative;
  max-width: 100vw;
  gap: 16px;
}

.glide__slide {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  position: relative;

  img {
    height: 100vh;
    width: 100vw;
    /* object-fit: cover; */
  }
}
.btn-buyNow-category {
  position: absolute;
  bottom: 16px;
  width: 343px;
  height: 52px;
  padding: 4px 24px;
  border-radius: 100px;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  border: 1px solid #2a2a2b;
  cursor: pointer;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.arrowRight-category {
  color: #333;
  right: 16px;
  bottom: 57px;
}

/*har lagt in font families här under bara, men vi får göra en @font-face eller något sen som vi kan återanvända, har inte hunnit sätta mig in i det */
body {
  margin: 0%;
}

/*video styles*/

.videoContainer {
  width: 100%;
  max-width: 100vw;
  height: auto;
  overflow: hidden;
  position: relative;
  top: 0;
}
.videoLower {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*styles for info section*/
.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.informationBox {
  width: 100%;
  height: 300px;
  background-color: #2a2a2b;
  padding-top: 40px;
}
.infoHeader {
  font-size: 80px;
  color: #fff;
  margin: 0px;
}
.infoText,
.infoLink {
  font-size: 16px;
  color: #fff;
}
.infoText {
  font-weight: 600;
}

/*styles for newsletter section*/

.newsletterContainer {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-top: 80px;
}

.newsletter,
.footerButton {
  padding-left: 16px;
  padding-right: 16px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsHeader,
.subscribeButton {
  font-size: 24px;
}
.paragraph,
.inputEmail {
  font-size: 16px;
}
.inputEmail {
  margin-top: 25px;
  padding-bottom: 5px;
}
::placeholder {
  color: black;
  opacity: 1;
}
.newsHeader {
  margin-bottom: 0px;
}
.paragraph {
  margin: 0px;
}
.subscribeButton,
.inputEmail {
  background-color: transparent;
  border-style: none;
}
.subscribeButton {
  margin-top: 52px;
  margin-bottom: 52px;
}
.inputEmail {
  border-bottom: 2px solid black;
  width: 100%;
}

.newsletter {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  position: sticky;
  top: 70px;
  z-index: 1;
}

/*footer styles*/

.footer {
  width: 100%;
  height: 25px;
}
.collaplsibleBox {
  display: flex;
  justify-content: space-between;
  height: 25px;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
}

.footerButton {
  cursor: pointer;
  display: flex;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  width: 100%;
  height: 25px;
  margin-top: 10px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footerContent {
  max-height: 0;
  gap: 24px;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  margin-left: 16px;
  margin-top: 0px;
}
.footerContent > * {
  margin-top: 24px;
  margin-bottom: 24px;
}
.footerButton:after {
  content: " + ";
}
.visible:after {
  content: "-";
}
.footerLogos {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .collapsibleBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-start: 2;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .footerButton {
    cursor: default;
  }
  .footerButton:after {
    content: none;
  }
  .visible:after {
    content: none;
  }
  .footerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .footerIconContainer {
    display: flex;
    flex-direction: row;
  }
  .mediaIcon {
    width: 18px;
    height: 18px;
  }
}
